@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--light);
}

.bg-dark {
  background: var(--dark);
  color: var(--white);
}
